:root {
  --primary: #edc79b;
  --primary-dark: #d57a66;
  --accent: #713e5a;
  --secondary: #63a375;
  --accent-light: #ca6690;
}
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.content > a {
  text-decoration: none;
  color: inherit;
}
.video-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-bottom: 3em;
}

.video-player {
  width: 20%;
}

.normal-video {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.normal-video-player {
  margin-bottom: 4rem;
}

.normal-video-player:not(:last-child) {
  margin-right: 4rem;
}

.video-cc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4rem;
}

.full-container {
  background-color: var(--primary);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}

.logo {
  height: 20rem;
  margin-right: 2rem;
}

.title {
  color: var(--accent);
  font-size: 5rem;
}

.pageTitle {
  color: var(--accent);
  font-size: 3rem;
}

.content {
  display: flex;
  justify-content: space-around;
}

.link-btn {
  background-color: red;
  padding: 3rem 6rem;
  font-size: 4rem;
  border-radius: 5px;
  box-shadow: 4px 4px 14px -5px rgba(0, 0, 0, 0.75);
  transition: 0.2s all;
}

.link-btn:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 4px 4px 14px 5px rgba(0, 0, 0, 0.75);
}

.orange {
  background-color: var(--primary-dark);
}

.purple {
  background-color: var(--accent);
}

.green {
  background-color: var(--secondary);
}

.bottom-img {
  background-image: url(https://live.staticflickr.com/6158/6169131721_97f9e82146_b.jpg);
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.cc {
  position: absolute;
  bottom: 10;
  color: white;
}

.cc1 {
  position: absolute;
  bottom: 10px;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

.onTop{
  position: relative;
  z-index: 1;
}

.column {
  flex: 24%;
  max-width: 24%;
}

.column div > img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.audioContainer {
  height: auto;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 14px -5px rgba(0, 0, 0, 0.75);
}

.stylelessButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.audioControls {
  fill: var(--primary-dark);
}

.audioMainContainer {
  margin-left: 231px;
}

.picture {
  text-align: center;
  width: 100%;
}

.impressum {
  font-size: 5rem;
  margin-left: 2rem;
}
.presented {
  font-style: italic;
  margin-bottom: 2rem;
}

.urs {
  color: var(--accent-light);
}

.elsi {
  color: var(--accent);
}

.jeje {
  color: var(--secondary);
}

.gibz {
  font-size: 3rem;
  font-style: italic;
  margin-top: 2rem;
}

.tools {
  font-size: 4rem;
  margin-top: 2rem;
}

.tool-link {
  color: var(--accent-light);
  line-height: 0;
}

.tool-link:not(:last-child) {
  margin-right: 1rem;
}
